# Ignore all
*


# 	Except these specific files:
# Headers
!*.h

# Source ('ft_' preffix)
!src
!src/*
!src/*/ft_*.c
!src/*/*
!src/*/*/ft_*.c
!src/*/*/get_next_line.c

# Makefile
!Makefile

# gitignore
!.gitignore
